<div class="scroll-to-top">to top</div>

</div>

<!-- JAVASCRIPT=============================================== -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/uncover.js"></script>
<script src="/js/sliceRevealer.js"></script>
<script src="/js/custom.js"></script>

<!-- End Document
================================================== -->
</body>

</html>