<!DOCTYPE html>
<html>

<head>
  <!-- Mobile Specific Metas
	================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="#212121" />
  <meta name="msapplication-navbutton-color" content="#212121" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#212121" />

  <!-- Web Fonts 
	================================================== -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet" />

  <!-- CSS
	================================================== -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/colors/color.css" />


  <title>GWEN</title>

</head>

<body>
  <h1>GWEN SCHAAB</h1>
  <p></p>


  <!-- JAVASCRIPT=============================================== -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/uncover.js"></script>
  <script src="js/sliceRevealer.js"></script>
  <script src="js/custom.js"></script>

  <!-- End Document
================================================== -->
</body>

</html>